*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colori */
/* Header: orange #FF6900
Footer:  blu #1A1A1A */

body{
    color: white;
    font-family: sans-serif;
    padding-top: 100px;
}

header{
    height: 100px;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px black;
}

.container{
    max-width: 1800px;
    margin: auto;
    border: 2px dashed blueviolet;
    text-align: center;
}

header > .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto
}

#navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#navbar li{
    margin: 10px;
    /* font-size: 21px; */
    font-weight: bold;
}

#logo{
    width: 180px;
    display: block;
}

#menu-right, #navbar, .discount, .favourite{
    font-size: 21px;
}

main{
    padding-top: 100px;
}

main > .container{
    display: flex;
    justify-content: space-between;
}

.item{
    border: 2px dashed orangered;
    width: 30%;
}
.item, .item-img{
    position: relative;
}

.item-img{
    width: 100%;
}

img{
    width: 100%;
}

.item-details{
    color: black;
    text-align: left;
}

.item-details p{
    font-size: 18px;
}

.sales-price{
    color: red;
    font-weight: bold;
}

.extra-info{
    margin-bottom: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.extra-info, .discount, .eco-friendly, .favourite{
    display: inline-block;
}

.discount{
    background-color: red;
 }

.eco-friendly{
    background-color: #008000;
}

.discount, .eco-friendly{
    padding: 8px 12px;
    font-weight: 900;
    font-size: 16px;
}

.favourite{
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 20px;
}