*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colori */
/* Header: orange #FF6900
Footer:  blu #1A1A1A */

body{
    color: white;
    font-family: sans-serif;
    padding-top: 100px;
}

header{
    height: 100px;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px black;
    z-index: 1;
}

.container{
    max-width: 1800px;
    margin: auto;
    text-align: center;
}

header > .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

li{
    padding: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

#logo{
    width: 180px;
    display: block;
}

#menu-right, #navbar, .discount, .favourite{
    font-size: 21px;
}

main{
    padding-top: 100px;
}

main > .container{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 30%;
    cursor: pointer;
}
.item, .item-img{
    position: relative;
}

.item-img{
    width: 100%;
}

.item-img .main-image, .item-img:hover .secondary-image{
    display: block;
}

.item-img .secondary-image, .item-img:hover, .main-image{
    display: none;
}

img{
    width: 100%;
}

.item-details{
    color: black;
    text-align: left;
    margin-bottom: 80px;
}

.item-details p{
    font-size: 18px;
}

.sales-price{
    color: red;
    font-weight: bold;
}

.extra-info{
    margin-bottom: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.extra-info, .discount, .eco-friendly, .favourite{
    display: inline-block;
}

.discount{
    background-color: red;
 }

.eco-friendly{
    background-color: #008000;
}

.discount, .eco-friendly{
    padding: 8px 12px;
    font-weight: 900;
    font-size: 16px;
}

.favourite{
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 20px;
}

.favourite:hover{
    content: '';
    color: red;
}

.item-img#img1:hover{
    content: url("../img/1b.webp");
}

.item-img#img2:hover{
    content: url("../img/2b.webp");
}

.item-img#img3:hover{
    content: url("../img/3b.webp");
}

footer{
    height: 150px;
    background-color: #1A1A1A;
    /* display: flex;
    align-items: center; */
    /* justify-content: ; */
}

footer > .container{
    text-align: left;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-btm-l#menu-btm-r{
    /* text-align: left; */
    width: 300px;
}

#company#social-media{
font-weight: bold;
}

#menu-btm-r{
    font-size: 25px;
}

#social-media{
    margin-bottom: 10px;
}
